**/*.jks
**/*.class
**/*.zip
**/*.jar
**/*.bloop
conf/development.conf
conf/production.conf
conf/staging.conf
production.env
antbuild
project/project
project/target
target
.classpath
.project
.sbtserver
.settings
.idea
.cache-main
.bsp
.metals
.vscode
application-log*
gcloud
deploy
checkall
testdiff
/bin
checker/docker/build
comrun/build
todo.txt
