**/*.jks
**/*.class
**/*.zip
**/*.jar
development.conf
conf/production.conf
production.env
antbuild
project/project
project/target
target
.classpath
.project
.sbtserver
.settings
.idea
.cache-main
application-log*
gcloud
deploy
checkall
testdiff
/bin
checker/docker/build
todo.txt
