<configuration>
   
   <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%level - %logger - %message%n%xException</pattern>
      </encoder>
   </appender>

   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${application.home:-.}/../logs/application.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         
       <!-- Daily rollover with compression -->
       <fileNamePattern>application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
         <!-- keep 30 days worth of history -->
         <maxHistory>30</maxHistory>
      </rollingPolicy>
      <encoder>
         <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] from %logger in %thread - %message%n%xException</pattern>
      </encoder>
   </appender>

   <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="FILE" />
   </appender>
   
   <logger name="play" level="INFO" />
   <logger name="application" level="INFO" />
   <logger name="com.horstmann.codecheck" level="INFO" />
   <root level="INFO">
      <appender-ref ref="STDOUT" />
   </root>
   <root level="INFO">
      <appender-ref ref="ASYNCFILE" />
   </root>

</configuration>
