@(pid: String, problems: Map[String, String], editKey: String)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Edit Problem</title>
</head>
<body style="font-family: sans;">
<form method="post" action="/editedFiles/@pid/@editKey">
    <div>
 @for(((k, v), i) <- problems.toSeq.zipWithIndex) {
    <div id="item@(i + 1)">
    <p>File name: <input type="text" id="filename@(i + 1)" name="filename@(i + 1)" size="25" value="@k"/> 
    <button id="delete@(i + 1)" type="button">Delete</button>
    </p>
    <p><textarea id="contents@(i + 1)" name="contents@(i + 1)" rows="24" cols="80">@v</textarea></p>
    </div>
 }    
    <div id="addfilecontainer">Need more files? <button id="addfile" type="button">Add file</button></div>
    <div><input type="submit" value="Submit changes"/></div>
    </div>
</form>
<p></p>
<hr/>
<form method="post" action="/editedProblem/@pid/@editKey" enctype="multipart/form-data">
<p>Alternatively, upload a zip file. Select the file <input name="file" id="file" type="file"/></p>
<p><input id="upload" type="submit" value="Upload zip file" disabled="disabled"/></p></form>
<script type="text/javascript">
for (let i = 1; i <= @{problems.size()}; i++) { 
  document.getElementById('delete' + i).addEventListener('click',
    function() {
      document.getElementById('filename' + i).setAttribute('value', '')
      document.getElementById('contents' + i).innerHTML = ''
      document.getElementById('item' + i).style.display = 'none'
    })
}
let n = 1
document.getElementById('addfile').addEventListener('click',
  function() {
    n++
    let i = n
    let fileDiv = document.createElement('div')
    fileDiv.setAttribute('id', 'item' + i)
    fileDiv.innerHTML = '<p>File name: <input id="filename' + i + '" name="filename' + i 
            + '" size="25" type="text"/> <button id="delete' + i 
            +'" type="button">Delete</button></p><p><textarea id="contents' + i + '" name="contents' + i 
            + '" rows="24" cols="80"/></textarea></p>'
    let addFile = document.getElementById('addfilecontainer')
    addFile.parentNode.insertBefore(fileDiv, addFile)
    
    document.getElementById('delete' + i).addEventListener('click',
      function() {
        document.getElementById('filename' + i).setAttribute('value', '')
        document.getElementById('contents' + i).innerHTML = ''
        document.getElementById('item' + i).style.display = 'none'
    })
})

document.getElementById('file').addEventListener('change', function() {
    document.getElementById('upload').disabled = false
})
</script>
</body>
</html>

