@(assignment: String, askForDeadline: Boolean)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/codecheck.css"/>
    <script type="text/javascript">//<![CDATA[
    const assignment = @Html(assignment)
    const askForDeadline = @askForDeadline
    //]]></script>
    <script src="/assets/util.js" type="text/javascript"></script>
    <script src="/assets/editAssignment.js" type="text/javascript"></script>    
    <title>Edit Assignment</title>
</head>
<body>
 <h1>Edit Assignment</h1>
 <div id='viewSubmissionsDiv'></div>
 <p>Enter problem URLs or IDs, one per line:</p>
 <textarea style="display: block; width: 90%;" id="problems" rows="10"></textarea>
 <div id="deadlineDiv">
    <p>Deadline (<b>Local Time</b>):</p>
    <input type="datetime-local" id="deadlineDate" name="date"/>
    <p id="deadlineLocal" style="font-weight: bold;"></p>
    <p id="deadlineUTC" style="font-weight: bold;"></p>
    <p>Leave date blank for no deadline.</p>
 </div>
 <div id='saveButtonDiv'></div>
 <div id="response" class="message" style='display: none'></div>
</body>
</html>
