@(allSubmissionsURL: String, submissions: String)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/codecheck.css"/>
    <script type="text/javascript">//<![CDATA[
    const allSubmissionsURL = '@allSubmissionsURL'
    const submissionData = @Html(submissions)
    //]]></script>
    <script src="/assets/util.js" type="text/javascript"></script>
    <script src="/assets/viewSubmissions.js" type="text/javascript"></script>
    <title>Assignment Submissions</title>
</head>
<body>
  
</body>
</html>