@(assignment: String, work: String, studentID: String, lti: String)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/codecheck.css"/>
    <script type="text/javascript">//<![CDATA[
    const studentID = '@studentID'
    const assignment = @Html(assignment)
    let work = @Html(work)
    const lti = @Html(lti)
    
    //]]></script>
    <script src="/assets/main.js" type="text/javascript"></script>
    <script src="/assets/workAssignment.js" type="text/javascript"></script>
    <title>Your Assignment</title>
</head>
<body> <!-- TODO: This should NOT happen when lti -->
   <div id="studentInstructions">
        <h1 id="heading">Your Assignment</h1>
        <p>Your CodeCheck ID: <span class="ccid">@studentID</span></p>
        <ul id="ccidBullets">
          <li>Share this ID with your professor</li>
          <li id="switchID">Not your ID? Enter yours here: <input id='newccid' type='text' size='30'/>
          <li id="clearID">If you work on a shared computer, clear the ID after you are done</li>
        </ul>
 <dl id="urls">
  <dt>Use this private URL for resuming your work later:</dt><dd id="returnToWork"><span id="returnToWorkURL" class="ccurl"></span></dd>  
 </dl>
 <p id="savedcopy"><input type="checkbox"/>  I saved a copy of the private URL</p>
 </div>
<p class='message' id='response'></p>
<p id="abovebuttons">Click on the buttons below to view all parts of the assignment.</p>
</body>
</html>