@(assignment: String, work: String, studentID: String, lti: String)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/codecheck.css"/>
    <script type="text/javascript">//<![CDATA[
    const assignment = @Html(assignment)
    let work = @Html(work)
    const studentID = '@studentID'
    const lti = @Html(lti)
    //]]></script>
    <script src="/assets/util.js" type="text/javascript"></script>
    <script src="/assets/workAssignment.js" type="text/javascript"></script>
    <title>Your Assignment</title>
</head>
<body>
   <details open="open"> 
   <summary id="heading">Your Assignment</summary>
   <div id="instructorInstructions">
      <p id="viewingAsInstructor">You are viewing this assignment as instructor.</p>
      <dl id="urls">
        <dt>Public URL for your students:</dt><dd><span id="publicURL" class="ccurl"></span></dd>
        <dt>Private URL for you only:</dt><dd><span id="privateURL" class="ccurl"></span></dd>  
      </dl>     
      <p>ID: <span class="ccid"></span></p>
      <div id="instructor_comment_div">
        <label id="label_feedback_instruction">Your comments:</label><br>
        <textarea style="display: block; width: 80%; font-size: 14px; font-weight: 500;" id="instructor_comment" rows="10"></textarea>
        <div id='saveButtonDiv'></div>
      </div>
   </div>
   <div id="studentInstructions">
	   <p>Your CodeCheck ID: <span class="ccid"></span></p>
	   <ul id="ccidBullets">
	     <li>Share this ID with your professor</li>
	     <li id="clearID">If you work on a shared computer, clear the ID after you are done</li>
	   </ul>
	   <dl>
	     <dt>Use this private URL for resuming your work later:</dt>
	     <dd id="returnToWork"><span id="returnToWorkURL" class="ccurl"></span></dd>  
	   </dl>
     <p id="deadline" style="font-weight: bold;"></p>
     <p id="deadlineLocal" style="font-weight: bold;"></p>
     <p id="deadlineUTC" style="font-weight: bold;"></p>
	   <p id="savedcopy"><input type="checkbox"/>  I saved a copy of the private URL</p>
     <div id="student_comment_div">
       <label>Feedback from your instructor:</label><br>
       <textarea readonly style="display: block; width: 80%; font-size: 14px; font-weight: 500;" id="student_comment" rows="10"></textarea>
     </div>
   </div>
   <div id="studentLTIInstructions">
     <p>You are viewing this assignment from a Learning Management System (LMS)</p>
     <p>Your LMS ID: <span class="ccid"></span></p>
     <p>Wrong score in LMS? <span id="submitLTIButton"></span></p>
   </div>
<p class="message" id="response"></p>
<p id="abovebuttons">Click on the buttons below to view all parts of the assignment.</p>
</details>
</body>
</html>
