<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
   <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>  
  <context-param>
    <param-name>com.horstmann.codecheck.repo.ext</param-name>
    <param-value>/data/ext</param-value>
  </context-param>  
  <context-param>
    <param-name>com.horstmann.codecheck.repo.bj4fp</param-name>
    <param-value>/home/ubuntu/bj4fp</param-value>
  </context-param>  
  <context-param>
    <param-name>com.horstmann.codecheck.repo.bj4cc</param-name>
    <param-value>/home/ubuntu/bj4cc</param-value>
  </context-param>  
  <context-param>
    <param-name>com.horstmann.codecheck.repo.jfe1cc</param-name>
    <param-value>/home/ubuntu/jfe1cc</param-value>
  </context-param>  
  <context-param>
    <param-name>com.horstmann.codecheck.repo.bjlo</param-name>
    <param-value>/home/ubuntu/bjlo</param-value>
  </context-param>  
  <context-param>
    <param-name>com.horstmann.codecheck.submissions</param-name>
    <param-value>/home/ubuntu/submissions</param-value>
  </context-param>    
  <context-param>
    <param-name>com.horstmann.codecheck.defaultcommand</param-name>
    <param-value>/home/ubuntu/codecheck/codecheck {0} {1} {2} {3}</param-value>
  </context-param>    
  <context-param>
    <param-name>com.horstmann.codecheck.gradecommand</param-name>
    <param-value>/home/horstmann/codecheck/gradeCodecheck {0} {1} {2} {3} {4} {5} {6} {7}</param-value>
  </context-param>    
</web-app>
